.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    @supports not ((-webkit-backdrop-filter: blur(4px)) or (backdrop-filter: blur(4px))) {
      background-color: rgba(255, 255, 255, 0.9);
    }
    -webkit-backdrop-filter: blur(4px); /* For Safari 9+, iOS Safari 9+ */
    backdrop-filter: blur(4px); /* Standard syntax */
  }
  