@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

// Font & Base Styles
$font-family-default: 'Work Sans', sans-serif;
$font-family-secondary: 'Avenir Next', sans-serif;
$font-size-base: 14px;
$font-family-weight: 400px;

// Color Themes
$color-main: #545F7D;
$color-primary: #39CDCC;
$color-secondary: #213F7D;
$color-warning: #E9B200;
$color-success: #39CD62;
$color-danger: #E4033B;
$color-white: #FFFFFF;
$color-off-white: #FBFBFB;
$colors-others: (
  'gold': #E9B200,
  'pink': #FF3366,
  'orange': #F55F44,
  'purple': #5718FF,
  'magenta': #DF18FF,
);

// Generate classes for  other colors
@each $name, $color in $colors-others {
  .text-#{$name} { color: $color; }
}

// Screen Sizes for Responsive Design
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1500px;

// Base Styles
body {
  font-family: $font-family-default;
  font-size: $font-size-base;
  font-weight: $font-family-weight;
  color: $color-main;
  margin: 0;
  padding: 0;
  border: 0;
}

// Utility Classes for Colors
.text-primary { color: $color-primary; }
.text-secondary { color: $color-secondary; }
.text-warning { color: $color-warning; }
.text-success { color: $color-success; }
.text-danger { color: $color-danger; }

.secondary-text-family {
  font-family: $font-family-secondary;
}

// Media Queries for Responsive Design
@mixin respond-to($breakpoint) {
  @if $breakpoint == xs {
    @media (max-width: $screen-xs) { @content; }
  } @else if $breakpoint == sm {
    @media (max-width: $screen-sm) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: $screen-md) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: $screen-lg) { @content; }
  } @else if $breakpoint == xl {
    @media (min-width: $screen-xl) { @content; }
  }
}

.container {
  @include respond-to(md) {
    // padding: 0 15px;
  }

  @include respond-to(xl) {
    max-width: $screen-xxl;
    margin: auto;
  }
}

.centered-flex {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertically-centered-flex {
  height: 100vh;
  display: flex;
  justify-content: center;

  @include respond-to(md) {
    height: 90vh;
  }

  @include respond-to(xs) {
    padding: 20px;
  }
}

h1 {
  font-family: $font-family-secondary;
  font-size: 40px;
  font-weight: 700;
  color: $color-secondary;
  margin: 0;
}

h3 {
  font-family: $font-family-secondary;
  font-size: 20px;
  font-weight: 400;
  color: $color-main;
  margin: 0;
}

.error-message {
  color: $color-danger;
  font-size: 12px;
}

// Input styling
.formik-form {
  width: 100%;
  max-width: 26rem;
  margin: auto;
}

.input-container {
  position: relative;
  display: block;

  // &.dropdown {
  //   // Additional  styles if needed
  // }

  .input-field {
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgba($color-main, 0.15);
    color: $color-main;
    padding-left: 10px;
    padding-right: 10px;

    &::placeholder {
      color: rgba($color-main, 0.6);
    }

    &:focus {
      border-color: rgba($color-main, 0.4);
      outline: none;
    }

  }

  .toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    outline: none;
    transform: translateY(-50%);
    height: 30px;
    color: $color-primary;
    background-color: transparent;
    border: 0;
  }
}

// Submit button stying
.submit-button {
  display: inline-block;
  height: 48px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s;

  &.primary {
    color: $color-white;
    background-color: $color-primary;
    border-color: transparent;
  }

  &.secondary {
    background-color: $color-white;
  }

  &:disabled,
  &.disabled { 
    cursor: not-allowed;
    opacity: 0.8;
  }
}

.text-button {
  font-family: $font-family-secondary;
  font-weight: 600;
  font-size: 12px;
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.left-grid {
  background-color: $color-off-white;

  img:first-of-type {
    padding-left: 20px;
  }

  @include respond-to(md) {
    background-color: $color-white;
    padding-top: 20px;
    height: 10vh;
  }

  @include respond-to(xs) {
    padding-left: 0;
  
    img:nth-of-type(2) {
      display: none;
    }
  }
}

// Alert Bar for success and failed mutation
.alert-bar {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;

  &.success {
    background-color: $color-success;
  }

  &.error {
    background-color: $color-danger;
  }

  animation: fadeIn 0.5s;

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .alert-close-btn {
    outline: none;
    margin-right: 10px;
    height: 30px;
    width: 30px;
    color: $color-white;
    background-color: rgba($color-secondary, 0.6);;
    border: 1 solid;
    border-color: transparent;
    border-radius: 50%;
    cursor: pointer;
  }
}

