@import "../../../styles/index.scss";

.styled-drawer {
  border: 0;
  .MuiPaper-root {
    // position: relative;
    margin-top: 70px;
    display: flex;
    overflow-x: hidden;
    // overflow-y: hidden;
    transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    width: 285px;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
  }

  @include respond-to(sm) {
    .MuiPaper-root {
        width: 80px;
    }
  }
}


.side-bar-title-text {
  font-size: 12px;
  font-weight: 500;
  color: $color-main;
  padding-left: 30px;

  @include respond-to(sm) {
    display: none;
  }
}

