@import "../../styles/index.scss";

.skeleton-centered {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}

.users-box {
    padding: 5%;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    color: $color-secondary;
}

.typography {
    font-size: 12px;
    font-weight: 400;
    color: $color-main;
}

.status {
    font-size: 12px;
    font-weight: 400;
    border-radius: 100px;
    padding: 5px;
    color: $color-main;
    text-align: center;
    
    &.inactive {
      background-color: rgba($color-secondary, 0.1);
      color: $color-secondary;
    }
    
    &.pending {
      background-color: rgba($color-warning, 0.1);
      color: $color-warning;
    }
    
    &.active {
      background-color: rgba($color-success, 0.1);
      color: $color-success;
    }
    
    &.blacklisted {
      background-color: rgba($color-danger, 0.1);
      color: $color-danger;
    }
  }
  

.column-header {
    display: flex;
    align-items: center;
    cursor: pointer;
  
    .filter-icon {
      margin-left: 5px;
      width: 20px;
      height: 20px;
    }
}

.menu-icon {
    height: 18px;
    padding-right: 10px;
    color: $color-main;
}

.custom-menu .MuiPaper-root {
    color: $color-main;
    width: 180px !important;
    border-radius: 4px !important;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04) !important;
}

.material-table {
    .MuiTablePagination-selectLabel {
        font-size: 14px;
        color: $color-main;
    }

    .MuiTablePagination-displayedRows {
        display: none;
    }

    .MuiTypography-caption {
        font-size: 14px;
        color: $color-main;
    }
  
    .MuiInputBase-input {
        color: $color-secondary !important;
        background-color: rgba($color-secondary, 0.2);
        border-radius: 4px;
        border: 0;
    }
 
    .MuiSvgIcon-root {
        color: $color-secondary !important;
    }
  }
  